body {
    background-color: lightslategray;
} /*working CSS file to make the background black.*/

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}

table {
    text-align: center;
    align-content: stretch;
}
.funTotal {
    background-color: red;
}